*.pyc
*~
*.swp

doc/build
.ipynb_checkpoints/
.cache/

scikit_surprise.egg-info/

build
dist/
surprise/similarities.c
surprise/prediction_algorithms/matrix_factorization.c
surprise/prediction_algorithms/optimize_baselines.c
surprise/prediction_algorithms/slope_one.c
surprise/prediction_algorithms/co_clustering.c
*.so
.idea/*

Gemfile.lock
_site

.coverage
tags
settings.json

.pytest_cache
