# Requirements file for development
Cython>=0.24.1
flake8==3.2.1
joblib>=0.11
numpy>=1.11.2
pandas
pytest>=3.0.3
scipy>=1.0.0
sphinx>=1.4.9
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinxcontrib-spelling
