# This workflow will install Python dependencies and run tests with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build docs

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Surprise with docs dependencies
      run: |
        pip install --upgrade pip
        cd doc
        pip install -r requirements.txt
    - name: Build docs
      run: |
        cd doc
        make clean
        make html
    - uses: actions/upload-artifact@v4
      with:
        name: the-docs
        path: doc/build/html
